body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text {
    max-width: 80%;
    text-align: center;
}

#game-board{
    max-width: 80%;
    padding: 5%;
    display: grid;
    grid-template-areas: 'a b c'
                         'd e f';
    gap: 50px;
}

.star-destroyer {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.sith {
    height: 50px;
    width: 50px;
    background-color: red;
    color: red;
    position: absolute;
    top: 100%;
    transition: all 0.4s;
}

.star-destroyer.revealed .sith{
    top: 0;
}
